PORT=8081
KAFKA_BROKER= # kafka broker
KAFKA_SSL= # kafka ssl
KAFKA_CLIENT_ID="webhook-service" # kafka client id
KAFKA_GROUP_ID="sol-indexer" # kafka group id
KAFKA_USERNAME= # kafka username
KAFKA_PASSWORD=
KAFKA_SASL_MECHANISM=plain
KAFKA_MECHANISM=plain
ENCRYPTION_KEY=your-encryption-key
WEBHOOK_SECRET=your-webhook-secret